/* Base styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #fff;
  color: #333;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #5a2b2b;
}

h2, h3 {
  color: #7a2c2c;
  margin-top: 20px;
}

ul, ol {
  padding-left: 20px;
}

img.recipe-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
}

.preparation {
  background-color: #fce6fb;
  padding: 15px;
  border-left: 5px solid #d56ecf;
  margin-bottom: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

